.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/*布局样式*/
.common_block_border {
  margin-bottom: 20px;
  background: white;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white!important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  min-height: 0;
}
.nav > li > a {
  padding: 13px 15px;
}
/*reset*/
body {
  word-break: break-word;
  background: #f4f6f8;
}
/*resetend*/
#nav_session .session_head {
  width: 3em;
}
#nav_session .title {
  font-size: 1.2em;
  width: 100%;
}
#nav_session .content {
  color: grey;
  font-size: 0.8em;
  line-height: 1.2em;
  height: 1.2em;
  width: 90%;
}
body {
  font-family: "Microsoft YaHei";
}
.cpointer {
  cursor: pointer;
}
.word-wrap {
  word-break: break-all !important;
}
a:hover {
  text-decoration: none;
  cursor: pointer !important;
}
.text-more {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.boxShadow {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
}
.boxShadowBorder {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}
/*头衔*/
.rank_html {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 2px;
}
.tb_rank {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
.tb_rank td,
.tb_rank th {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  color: #555;
}
/*头衔end*/
.oneuser-title-hr {
  margin-top: 0px;
  margin-right: 0px;
  border-color: #848484;
}
.avatar-img {
  border-radius: 100%;
  max-width: 100%;
}
#main-container {
  margin-top: 20px;
}
.message-body {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.message-body div {
  font-style: normal;
}
.message-body .message-ctime {
  font-weight: normal;
}
.message-body .message_icon {
  text-align: center;
}
.message-body .message_icon img {
  margin-bottom: 0.5em;
}
.index-feature-div {
  border-radius: 100%;
  background-color: #d3d3d3;
  display: inline-block;
  padding: 36px;
}
.index-feature-title {
  color: #eb6877;
  text-align: center;
}
.index-feature-text {
  color: #888;
  line-height: 1.7em;
  padding-left: 3em;
}
.index-screen-hr {
  border-color: #bcbaba;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.index-screen-button {
  padding: 8px 28px;
  border: 1px solid #AFAFAF;
  border-top: 0px;
  background-color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  line-height: 43px;
  font-size: 20px;
  display: inline;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.index-feature-img {
  width: 100%;
}
.index-feature-table td {
  padding: 6px;
}
.index-feature-text2 {
  display: table;
  background: rgba(0, 0, 0, 0.618);
  color: white;
  opacity: 0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.index-feature-text2 span {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
}
.index-feature-table ul {
  padding: 0;
  margin: 0;
}
.index-feature-table ul li {
  float: left;
  list-style-type: none;
  padding: 7px 5px;
}
.message-body {
  margin-top: 2em;
  margin-bottom: 10px;
}
.post_content img {
  max-width: 100%;
}
h2 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  margin-bottom: .5em;
  /*border-bottom: solid 2px #ccc;*/
  padding-bottom: .5em;
}
.forum-detail-content-text {
  font-size: 1.5em;
  line-height: 1.75em;
}
.ribbion-green {
  z-index: 99;
  position: absolute;
  right: -9px;
  top: -30px;
  background: url(../images/ribbion.png);
  width: 75px;
  height: 35px;
  text-align: center;
}
.ribbion-green a {
  color: white;
  line-height: 35px;
  padding-left: 20px;
}
.ribbion-green a:hover {
  text-decoration: none;
}
#goTopBtn {
  z-index: 998;
  position: fixed;
  line-height: 36px;
  width: 48px;
  bottom: 35px;
  height: 49px;
  cursor: pointer;
  display: none;
  background: url(../images/gotop.png);
}
#goTopBtn:hover {
  background-position: 48px 0;
}
.userList {
  margin-top: 20px;
  padding-left: 30px;
  text-align: center;
}
.userList li {
  text-align: left;
  list-style: none;
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 70px;
}
.userList li img {
  width: 64px;
  height: 64px;
}
.op_nav_ico {
  text-align: center;
}
.op_nav_ico a {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  line-height: 12px;
  cursor: pointer;
}
.op_nav_ico i {
  width: 24px;
  height: 24px;
  font-size: 20px;
}
.op_nav_ico .badge {
  border-radius: 84%;
  background: #EA7863;
  position: absolute;
  right: 8px;
  top: 1px;
  padding: 1px 3px;
  font-weight: normal;
}
/* extended dropdowns */
.notification {
  width: 250px;
}
.notification .header {
  border-bottom: 1px solid #ccc;
}
.notification .info-list .list-wrap {
  position: relative;
  width: auto;
  overflow: hidden;
  max-height: 250px;
}
.notification .info-list .list-wrap .list-data {
  padding-left: 0;
}
.notification .info-list .list-wrap .list-data li {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.notification .info-list .list-wrap .list-data li a {
  display: block;
  line-height: 14px;
  padding: 15px 15px;
}
.notification .info-list .list-wrap .list-data li a:hover {
  background: #f5f5f5;
}
.notification .info-list .list-wrap .list-data li .time {
  font-size: 12px;
  color: darkgreen;
  display: block;
  text-align: right;
}
.notification .footer {
  padding: 5px;
}
.notification .header {
  padding: 5px;
}
/***
General list for item with image
***/
.item-list li .img {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
.item-list {
  margin: 0px;
  list-style: none;
}
.item-list li {
  padding: 7px 0 5px 0px;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid #EBEBEB;
  font-size: 12px;
}
.item-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
}
.item-list li:last-child {
  border-top: none;
  border-bottom: none;
}
.item-list li .label {
  margin-right: 5px;
}
.item-list.todo li .label {
  position: absolute;
  right: 80px;
}
.item-list.todo li .actions {
  position: absolute;
  right: 45px;
}
/*消息中心*/
.talk_bubble {
  border-radius: 4px;
  border: 1px solid white;
  background: white;
  padding: 10px 15px;
  display: inline-block;
}
.talk-body {
  background: #f5f5f5;
  padding: 30px;
  margin-top: 10px;
  border-radius: 0.5em;
}
.talk-body img {
  max-width: 80%;
}
.talk-body .time {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -25px;
}
.talk-body .timespan {
  background: #999;
  color: white;
  display: inline-block;
  border-radius: 0.4em;
  padding: 0.3em 0.5em;
}
.talk-body h3 {
  font-size: 14px;
  color: #999;
  margin-top: 12px;
}
.bubble_outter {
  position: relative;
}
.bubble_sharp {
  background: url(../images/bubble_left.png);
  width: 17px;
  height: 22px;
  position: absolute;
  left: -2px;
  top: 35px;
}
.talk-avatar {
  width: 80px;
}
/*右侧重写*/
.talk_right .bubble_outter {
  text-align: right;
}
.talk_right .bubble_sharp {
  background: url(../images/bubble_right.png);
  right: 1px;
  left: inherit;
}
.talk_right h3 {
  text-align: right;
}
.talk_right .talk_bubble {
  border: 1px solid #4e9be0;
  color: white;
  background: #4e9be0;
  word-break: break-all;
}
.talk-body {
  margin: 20px 0px;
}
.talk-body .talk_blockquote {
  background: url(../images/blockquote.png);
  background-repeat: no-repeat;
  width: 89px;
  height: 76px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.talk-body .talk_source_content {
  z-index: 999;
  position: relative;
  text-shadow: 1px 1px 1px white;
}
.talk-body .talk_source {
  background: white;
  border: 1px dashed #ccc;
  min-height: 150px;
  position: relative;
  margin: 0px 15px 20px 15px;
  padding: 20px;
  border-radius: 10px;
}
.talk-body #scrollArea {
  padding: 30px;
  max-height: 400px;
}
.talk-body .slimScrollDiv {
  border: solid 1px white;
  border-radius: 10px;
}
.talk-body .slimScrollDiv .row {
  margin: 0px;
}
/*消息中心end*/
.login-form-inbox {
  width: 410px;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.login-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.login-input {
  margin-bottom: 20px;
}
.login-form-upbox {
  background-color: #fff;
  width: 410px;
  height: 290px;
  border: 1px solid #e9e9e9;
  margin: auto;
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  padding: 20px;
}
.input_tips {
  width: 100%;
  height: 85px;
  display: block;
  overflow-y: auto;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  cursor: text;
  outline: none;
  border: #ddd solid 1px;
  background: #fff;
  box-shadow: 1px 1px 3px #dcdcdc inset;
  -moz-box-shadow: 1px 1px 3px #dcdcdc inset;
  -khtml-box-shadow: 1px 1px 3px #dcdcdc inset;
}
.lzl {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  float: right;
  margin-right: 14px;
  margin-top: -10px;
  z-index: 1;
}
.triangle_up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
  float: right;
  margin-right: 14px;
  margin-top: -9px;
  z-index: 2;
}
.button_true,
.button:hover {
  color: #fff !important;
  background: #414448 !important;
}
.button {
  width: 60px;
  background: #bbb;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  float: right;
}
.lzl_reply_list {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 8px;
}
.XT_list_avatar {
  width: 40px;
  float: left;
  margin-top: 5px;
}
.XT_list_content {
  float: left;
  margin-left: 10px;
  width: 90%;
}
.XT_reply_count {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.show_textarea {
  margin-top: -15px;
  margin-bottom: 10px;
}
.XT_my_avatar {
  width: 40px;
  position: absolute;
  margin-top: 15px;
  margin-right: 10px;
}
.XT_submit {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.lzl_Reply {
  margin-bottom: 25px;
}
/*楼中楼end*/
.qtip {
  max-width: 352px !important;
}
.qtip-bootstrap .qtip-content {
  width: 346px !important;
  padding: 0 !important;
}
/*表情*/
.sanjiao {
  float: left;
}
.XT_face {
  width: 415px;
  z-index: 1001;
  position: absolute !important;
}
.XT_face_main {
  background: #FFFFFF;
  margin-left: -20px;
  border: 1px solid #cccccc;
}
.XT_face_title {
  background: #f5f5f5;
  height: 30px;
}
.XT_face_close {
  float: right;
  margin: 4px 15px 0 0;
}
.XT_face_bt {
  float: right;
  margin: 4px 0px 0 15px;
}
/*表情end*/
.thinkox-break-word {
  word-break: break-all;
  word-wrap: break-word;
}
.post_read {
  display: inline-block;
  min-width: 4em;
}
.post_read i {
  margin-right: .3em;
}
.post_comment {
  display: inline-block;
  min-width: 4em;
  margin-right: -1em;
}
.post_comment i {
  margin-right: .3em;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/*
右侧好友界面*/
#friend_has_new {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: none;
}
.friend_panel {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
}
.friend_panel .btn-pull {
  position: absolute;
  border: 1px solid #029775;
  background: #03AE87;
  padding: 15px 7px;
  border-right: 0;
  margin-right: 0;
  left: -45px;
  margin-top: -25px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.friend_panel #right_panel_main {
  border: 1px solid #029775;
  border-right: 0;
  height: 500px;
  margin-top: -250px;
  background: #03b88f;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.friend_panel #right_panel_main #friend_panel_main {
  width: 150px;
}
.friend_panel #right_panel_main #session_panel_main {
  width: 150px;
}
.friend_panel #right_panel_main h2 {
  border-top-left-radius: 3px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
  display: block;
}
.friend_panel #right_panel_main .session_spliter {
  height: 0px;
  border-bottom: 1px solid #029775;
}
.friend_panel .friend_list {
  margin-left: 15px;
  margin-right: 15px;
  height: 420px;
  padding: 0;
}
.friend_panel .friend_list li {
  list-style: none;
  padding: 10px;
}
.friend_panel .friend_list li a {
  color: white !important;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.friend_panel .friend_list li a .badge_new {
  position: absolute;
  top: 0;
  right: -15px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.friend_panel .friend_list .active {
  background: #05CC9F;
}
.friend_panel .session_more {
  height: 38px;
  color: white !important;
}
.friend_panel .session_more .active {
  border: 0 !important;
}
.friend_panel .session_more .tab_chat {
  border-top: 0;
  border-left: 0;
  border-bottom-left-radius: 3px;
  margin-top: 1px;
}
.friend_panel .session_more .tab_friend {
  border-top: 0;
  border-right: 0;
  margin-top: 1px;
}
.friend_panel .session_more .btn_session_more {
  color: white !important;
  text-align: center;
  padding: 8px 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
  float: left;
  margin-top: 1px;
}
.friend_panel .session_more .active {
  color: #029775 !important;
  background: #ffffff;
}
#chat_box {
  z-index: 999;
}
.chat_panel {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  position: fixed;
  right: 210px;
  bottom: 30px;
  background: white;
  border: 1px solid #ccc;
  width: 320px;
  height: 465px;
}
.chat_panel .panel_title {
  position: relative;
  background: #F4F4F4;
  height: 35px;
  border-bottom: 1px solid #ccc;
}
.chat_panel .panel_title .title {
  padding-left: 74px;
  line-height: 34px;
  width: 280px;
}
.chat_panel .panel_title .control_btns a {
  display: inline-block;
  margin: 7px;
}
.chat_panel .chat_avatar {
  box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -khtml-box-shadow: 0 0 5px #CCCCCC;
  position: absolute;
  top: -32px;
  left: 5px;
  width: 64px;
  border: 1px solid #ccc;
  padding: 1px;
  background: white;
}
.chat_panel .talk-body {
  background: white;
  padding: 0;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 320px;
}
.chat_panel .talk-body .talk-avatar {
  width: 48px;
  max-width: 200%;
  margin-right: 10px;
}
.chat_panel .talk-body .chat_bubble .bubble_sharp {
  background: url(../images/bubble_left_chat.png);
}
.chat_panel .talk-body .chat_bubble .talk_bubble {
  border-color: #48b87a;
  background: #48b87a;
  color: white;
}
.chat_panel .send_box {
  padding: 0 10px;
}
.chat_panel #scrollArea_chat {
  padding-bottom: 20px;
}
.ad_max {
  overflow: hidden;
}
/*导航栏*/
/*悬浮样式*/
.nav_scroll {
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}
/*悬浮样式end*/
.nav_bar {
  background: white;
  z-index: 999;
}
.nav_bar .navbar-nav > li > a {
  line-height: 52px;
  font-size: 16px;
  padding: 0 15px;
  color: #333;
}
.nav_bar .navbar-nav > li > a i {
  font-size: 16px;
}
.nav_bar .navbar-header .logo {
  margin-right: 15px;
  font-size: 16px;
  color: #333;
  line-height: 50px;
}
.nav_bar .nav_item {
  position: relative;
}
.nav_bar .navbar-toggle {
  color: white;
  margin-top: 12px;
}
.nav_bar .navbar-toggle .icon-bar {
  background: white;
}
.nav_bar .badge {
  margin-left: 5px;
}
/*导航栏end*/
/*底部栏*/
/*底部栏end*/
/*全站右侧模块样式*/
.forum_module {
  font-size: 16px;
  padding: 8px;
  -moz-border-radius: 6px;
  /*仅Firefox支持，实现圆角效果*/
  -webkit-border-radius: 6px;
  /*仅Safari,Chrome支持，实现圆角效果*/
  -khtml-border-radius: 6px;
  /*仅Safari,Chrome支持，实现圆角效果*/
  border-radius: 3px;
  /*仅Opera，Safari,Chrome支持，实现圆角效果*/
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #333333;
  border: #dddddd 1px solid;
}
.forum_module_name {
  height: 20px;
  margin-bottom: 10px;
  width: 210px;
}
.clearfix {
  clear: both;
}
.forum_module_content {
  color: #797979;
}
.font_grey {
  color: #848484;
}
.font_black {
  color: #333333;
}
.position {
  margin: 7.5px;
}
.btn_exchange a {
  color: #fff;
  padding: 1px 10px;
}
.btn_exchange a:hover {
  color: #fff;
}
/*赞*/
.support_nolike {
  display: inline-block;
  background: url(../images/nolike.png);
  width: 15px;
  height: 14px;
  vertical-align: middle;
  margin-top: -4px;
}
.support_like {
  display: inline-block;
  background: url(../images/like.png);
  width: 16px;
  height: 14px;
  vertical-align: middle;
  margin-top: -4px;
}
/*赞end*/
/*微博首页样式结束*/
/*同步登录页*/
.other_login_title {
  line-height: 41px;
  width: 115px;
  float: left;
  text-align: right;
}
.other_login_link .other_login {
  background: url(../images/other_login.png) no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
  margin-bottom: 2px;
}
.other_login_link .other_login_qq {
  background-position: -4px -4px;
}
.other_login_link .other_login_sina {
  background-position: -4px -59px;
}
.other_login_link .other_login_douban {
  background-position: -4px -117px;
}
.other_login_link .other_login_renren {
  background-position: -4px -175px;
}
.other_login_link a.other_login_qq:hover {
  background-position: -66px -4px;
}
.other_login_link a.other_login_sina:hover {
  background-position: -66px -60px;
}
.other_login_link a.other_login_douban:hover {
  background-position: -66px -117px;
}
.other_login_link a.other_login_renren:hover {
  background-position: -66px -175px;
}
.other_login_link a.other_login_qq:active {
  background-position: -129px -4px;
}
.other_login_link a.other_login_sina:active {
  background-position: -129px -60px;
}
.other_login_link a.other_login_douban:active {
  background-position: -129px -117px;
}
.other_login_link a.other_login_renren:active {
  background-position: -129px -175px;
}
/*同步登录页end*/
/*登录页面*/
.login {
  margin-top: 220px;
  margin-bottom: 150px;
  margin-left: 12.5%;
}
.login .lg_left .lg_lf_top {
  margin-top: 25px;
}
.login .lg_left .lg_lf_form .lg_lf_fm_verify {
  margin-bottom: 6px;
}
.login .lg_left .lg_lf_form .lg_lf_fm_tip {
  color: red;
}
.login .lg_left .lg_lf_form .lg_lf_fm_checkbox {
  padding-left: 36px;
  float: left;
  color: #848484;
}
.login .lg_center {
  border-left: 1px solid #D8D9DB;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.login .lg_middle {
  border-top: 1px solid #D8D9DB;
  border-bottom: 1px solid #ffffff;
  height: 0;
  margin-top: 20px;
}
.login .lg_bottom_top {
  margin-top: 15px;
  font-size: 12px;
  color: #A09FA0;
  text-align: center;
  line-height: 30px;
}
.login .lg_bottom_bottom {
  font-size: 12px;
  color: #848484;
  text-align: center;
  line-height: 30px;
}
/*登录页面end*/
/*注册页面*/
@media (min-width: 1200px) {
  .register .rg_go div {
    margin-right: -17px;
  }
}
/*注册页面end*/
/*新版界面end*/
.quick_send_box .dropdown-menu {
  min-width: 94px;
  text-align: center;
}
#weibo_filter .dropdown-menu {
  min-width: 100%;
  font-size: 12px;
}
#weibo_filter button {
  font-size: 12px;
}
#weibo_filter .dropdown-menu > li > a {
  display: block;
  padding: 3px 15px;
}
/*.filter_attach {
  top: 80px !important;
}*/
#nav_bar_container {
  position: relative;
}
/*编辑器修复*/
.edui-btn-toolbar {
  background: white;
}
/*编辑器修复end*/
.big_loading {
  font-size: 16px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  bottom: 30px;
}
/*提示信息颜色*/
.tooltip.green .tooltip-inner {
  background-color: #2ac25f;
}
.tooltip.green.top .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-left .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.top-right .tooltip-arrow {
  border-top-color: #2ac25f;
}
.tooltip.green.right .tooltip-arrow {
  border-right-color: #2ac25f;
}
.tooltip.green.left .tooltip-arrow {
  border-left-color: #2ac25f;
}
.tooltip.green.bottom .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-left .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.green.bottom-right .tooltip-arrow {
  border-bottom-color: #2ac25f;
}
.tooltip.red .tooltip-inner {
  background-color: #ee4e2f;
}
.tooltip.red.top .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-left .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.top-right .tooltip-arrow {
  border-top-color: #ee4e2f;
}
.tooltip.red.right .tooltip-arrow {
  border-right-color: #ee4e2f;
}
.tooltip.red.left .tooltip-arrow {
  border-left-color: #ee4e2f;
}
.tooltip.red.bottom .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-left .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
.tooltip.red.bottom-right .tooltip-arrow {
  border-bottom-color: #ee4e2f;
}
