<!-- 管理员用户组新增和编辑页面 -->
<extend name="Public/base" />
<block name="body">
    <div class="main-title">
        <h2>角色 {$this_role.title} 默认权限配置<span style="margin-left: 20px;color: #FA4747;font-size: 14px;">对于权限节点的增加、删除、修改请到 用户》权限管理 中操作</span></h2>
    </div>
    <div class="tab-wrap with-padding">

        <div class="clearfix">
            <div class="col-xs-10">
                <include file="_link"/>
            </div>
            <div class="col-xs-2 text-right">
                <select name="role" class="form-control">
                    <volist name="auth_role" id="vo">
                        <option value="{:U('Role/configAuth',array('id'=>$vo['id'],'type'=>1))}" <eq name="vo['id']" value="$this_rle['id']">selected</eq> >{$vo.title}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="node-list">
            <!-- 访问授权 -->
            <div class="tab-pane in">
                <form action="__SELF__" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
                    <volist name="node_list" id="node" >
                        <dl class="checkmod">
                            <dt class="hd">
                                <label class="checkbox"><input class="auth_rules rules_all" type="checkbox" name="rules[]" value="<?php echo $main_rules[$node['url']] ?>">{$node.title}管理</label>
                            </dt>
                            <dd class="bd">
                                <present name="node['child']">
                                    <volist name="node['child']" id="child" >
                                        <div class="rule_check">
                                            <div>
                                                <label class="checkbox" <notempty name="child['tip']">title='{$child.tip}'</notempty>>
                                                <input class="auth_rules rules_row" type="checkbox" name="rules[]" value="<?php echo $auth_rules[$child['url']] ?>"/>{$child.title}
                                                </label>
                                            </div>
                                            <notempty name="child['operator']">
                                                <span class="divsion">&nbsp;</span>
                                           <span class="child_row">
                                               <volist name="child['operator']" id="op">
                                                   <label class="checkbox" <notempty name="op['tip']">title='{$op.tip}'</notempty>>
                                                   <input class="auth_rules" type="checkbox" name="rules[]"
                                                          value="<?php echo $auth_rules[$op['url']] ?>"/>{$op.title}
                                                   </label>
                                               </volist>
                                           </span>
                                            </notempty>
                                        </div>
                                    </volist>
                                </present>
                            </dd>
                        </dl>
                    </volist>
                    <input type="hidden" name="type" value="1" />
                    <input type="hidden" name="id" value="{$this_role.id}" />
                    <button type="submit" class="btn submit-btn ajax-post" target-form="auth-form">确 定</button>
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </form>
            </div>

            <!-- 成员授权 -->
            <div class="tab-pane"></div>

            <!-- 分类 -->
            <div class="tab-pane"></div>
        </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/qtip/jquery.qtip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/qtip/jquery.qtip.min.css" media="all">
    <script type="text/javascript" charset="utf-8">
        +function($){
            var rules = [{$this_role.rules}];
        $('.auth_rules').each(function(){
            if( $.inArray( parseInt(this.value,10),rules )>-1 ){
                $(this).prop('checked',true);
            }
            if(this.value==''){
                $(this).closest('span').remove();
            }
        });

        //全选节点
        $('.rules_all').on('change',function(){
            $(this).closest('dl').find('dd').find('input').prop('checked',this.checked);
        });
        $('.rules_row').on('change',function(){
            $(this).closest('.rule_check').find('.child_row').find('input').prop('checked',this.checked);
        });

        $('.checkbox').each(function(){
            $(this).qtip({
                content: {
                    text: $(this).attr('title'),
                    title: $(this).text()
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                    target: $(this)
                },
                style: {
                    classes: 'qtip-dark',
                    tip: {
                        corner: true,
                        mimic: false,
                        width: 10,
                        height: 10
                    }
                }
            });
        });

        $('select[name=group]').change(function(){
            location.href = this.value;
        });
        //导航高亮
        highlight_subnav('{:U('Role/configauth')}');
        }(jQuery);
    </script>
</block>
