<extend name="Base/common"/>

<block name="body">
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
    <!-- 主体 -->
    <!--顶部Banner-->
    <div class="container common_block_border" style="position: relative">
        <div class="article">
            <div class="row">
                <div class="col-xs-7">
                    <h1>
                        OpenCenter 永久免费开源的用户中心
                    </h1>

                    <p>
                        OpenCenter是一款类似Ucenter的完全开源免费的用户中心系统，系统提供云平台用于功能扩展。OC的魅力在于，使用它，您将大大缩短产品的架构时间，除此之外还有一个庞大的开发者社区为您的产品添钻加瓦。
                    </p>

                    <h2>
                        产品特点
                    </h2>

                    <p>
                    <ol>
                        <li>
                            永久开源免费，不收取任何版权费用且可用于商业，可用于再发布。
                        </li>
                        <li>
                            模块可拆卸，系统只保留核心的功能，其余功能通过扩展模块来实现。
                        </li>
                        <li>内含插件机制，可以方便在不改动系统核心源码的基础上局部扩展功能。</li>

                    </ol>
                    </p>
                    <h2>
                        产品架构
                    </h2>

                    <p>
                        系统基于OneThink进行了一系列的二次开发，OneThink系基于ThinkPhp框架的一款CMF系统。OC开发团队去除了OT中的内容管理部分，提取出核心的用户系统，使其允许在任何类型的网站项目中使用。
                    </p>

                    <h3>
                        以下项目基于OC
                    </h3>

                    <p>


                        <section class="cards">
                            <div class="col-xs-6">
                                <a target="_blank" href="http://www.opensns.cn" class="card">
                                    <img src="__IMG__/os.png" alt="">
                                    <strong class="card-heading"><i class="icon-globe"></i> OpenSNS V2</strong>

                                    <div class="card-content text-muted">
                                        一款开源的SNS社交产品，基于OpenCenter开发。包含微博、论坛、群组、专辑、活动、微店、积分商城、分类信息等模块。
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://www.opensns.cn" class="card">
                                    <img src="__IMG__/no.png" alt="">
                                    <strong class="card-heading">虚位以待</strong>

                                    <div class="card-content text-muted">
                                        欢迎向我们提交您的项目，免费获得广告位。<br/>提交方式：<br/>联系QQ：<i class="icon-qq"></i> 276905621
                                    </div>
                                </a>
                            </div>
                        </section>
                    </p>
                </div>
                <div class="col-xs-4">
                    <h1>相关资料</h1>

                    <h2>学习资料</h2>

                    <div class="row">
                        <div class="col-xs-7">
                            <ul class="list-group">
                                <li class="active list-group-item"><i class="icon-file"></i> <a target="_blank" href="http://www.ocenter.cn/index.php?m=book&f=browse&nodeID=1" style="color: white">OCenter手册 <span class="label label-badge label-danger">在线</span></a>
                                </li>
                                <li class="list-group-item"><i class="icon-file"></i> <a target="_blank"
                                                                                         href="http://document.thinkphp.cn/">ThinkPHP手册</a>
                                </li>
                                <li class="list-group-item"><i class="icon-file"></i> <a target="_blank"
                                                                                         href="http://document.onethink.cn/">OneThink手册</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-xs-5">

                            <ul class="list-group">
                                <li class="list-group-item"><i class="icon-file"></i> <a target="_blank"
                                                                                         href="http://www.zui.sexy">ZUI手册</a>
                                </li>
                            </ul>

                        </div>

                    </div>


                    </p>
                    <h2>相关网址</h2>

                    <p>
                    <ul class="list-group">

                        <li class="list-group-item active">
                            <i class="icon-link"></i> <a style="color: white" target="_blank"
                                                         href="http://www.ocenter.cn" class="text-ellipsis">OpenCenter产品网站</a>
                        </li>
                        <li class="list-group-item">
                            <i class="icon-link"></i> <a target="_blank" href="http://dev.ocenter.cn"
                                                         class="text-ellipsis">OpenCenter开发者社区</a>
                        </li>
                        <li class="list-group-item">
                            <i class="icon-link"></i> <a target="_blank" href="http://www.opensns.cn"
                                                         class="text-ellipsis">OpenSNS开源社交产品</a>
                        </li>
                    </ul>
                    </p>

                    <h2>相关技术群</h2>
                    <ul class="list-group">
                        <li class="active list-group-item" style="color: white"><i class="icon-qq"></i> OCD 1群 390967955
                            <a class="btn btn-default btn-sm" target="_blank"
                               href="http://jq.qq.com/?_wv=1027&k=ZnlGNd"><i
                                    class="icon-plus-sign"></i> 加群</a></li>
                    </ul>
                    <h2>相关版本库</h2>
                    <ul class="list-group">
                        <li class="active list-group-item " style="color: white;">
                            <a style="color: white" href="http://git.oschina.net/yhtt2020/OpenCenter" target="_blank"><i
                                    class="icon-code-fork"></i> OpenCenter源码库</a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://git.oschina.net/yhtt2020/OpenSNS" target="_blank"><i
                                    class="icon-code-fork"></i> OpenSNS源码库</a>
                        </li>
                    </ul>
                </div>

            </div>
            <script src='http://git.oschina.net/yhtt2020/OpenCenter/widget_preview'></script>

            <style>
                .pro_name a{color: #4d4d4d;}
                .osc_git_title{background-color: #d8e5f1;}
                .osc_git_box{background-color: #fafafa;}
                .osc_git_box{border-color: #ddd;}
                .osc_git_info{color: #666;}
                .osc_git_main a{color: #3d3d3d;}
            </style>
        </div>


        <div class="alert with-icon alert-info">
            <i class="icon-info-sign"></i>

            <div class="content">此页面是默认的演示首页，开发者可自行删除。</div>
        </div>
    </div>
</block>